


/*Formattierung der Tabellen einheiten*/
#table
{ 
font-family: Arial, Helvetica, sans-serif;

margin: 5%;
}

#table th{

  font-size: 30px;
  padding-bottom: 50px;
  text-align: left;

}

#table td
{
text-align: center;
width: 50%;
font-size: 18px;

}


/*Formattierung vom effekt und positionierung*/
canvas {
  padding:0;
  margin:0;
  position: fixed;
  z-index: -100;
  
}
div.btnbg {
  
  position:fixed;
  left:0;
  top:0;

  
}

/*Hintergrund vom Inhalt der Seite*/
.pinwall {

  background-image: url("../bilder/brushed_alu.png");
                    
  background-repeat: repeat-x repeat-y;
 
  
}


/*Formattierung vom Grid container*/
html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows:  0.7fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "space1 topmiddle topmiddle space2"
    "space1 content content space2"
    "space1 content content space2";
}

.topmiddle { 
  grid-area: topmiddle;
  text-align: center;
  
  }


.content { grid-area: content;

  background-image: url("../bilder/brushed_alu.png");
  background-size: 200px;
  height: fit-content;
  }


.space1 { grid-area: space1; 
  }

.space2 { grid-area: space2; 
  }


/*Gird conainer ränder sichtbar machen
.grid-container * {
  border: 1px solid red;
  position: relative;
}


/*
.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}
*/


/*Formattierung vom Menu*/
.game-bar .game-bar-wrap {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.game-bar .game-bar-wrap.slick-initialized {
  opacity: 1;
}
.game-bar {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  z-index: 0;
  left: 0;
  top: 0;
  
}

@media screen and (min-width: 500px) {
  .game-bar {
      margin-top:-15px
  }
}

@media screen and (min-width: 768px) {
  .game-bar {
      margin-top:-45px;
      margin-top: 30px;
  }
}

.game-bar .game-bar-wrap {
  margin: 0 auto;
  width: 75%
}

@media screen and (min-width: 1024px) {
  .game-bar .game-bar-wrap {
      width:100%
  }
}

.game-bar .game-bar-wrap .game-bar-el {
  display: inline-block;
  width: 16.6%;
  position: relative;
  height: 65px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .game-bar .game-bar-wrap .game-bar-el {
       height:130px 
  }
}

.game-bar .game-bar-wrap .game-bar-el a .games-top {
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 9px solid rgba(255,255,255,0)
}

@media screen and (min-width: 768px) {
  .game-bar .game-bar-wrap .game-bar-el a .games-top {
      width:90px;
      height: 90px
  }
}

.game-bar .game-bar-wrap .game-bar-el a .games-top span {
  background: #fff;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 3px 11px #aeaeae
}

.game-bar .game-bar-wrap .game-bar-el a .games-top span img {
  background: #fff;
  padding: 6px;
  border-radius: 50%
}

@media screen and (min-width: 768px) {
  .game-bar .game-bar-wrap .game-bar-el a .games-top span img {
      padding:13px
  }
}

.game-bar .game-bar-wrap .game-bar-el a .game-title {
  opacity: 0;
  text-align: center;
  font-size: 0.875em;
  font-weight: 300;
  color: #303030;
  position: absolute;
  display: none;
  width: 100%;
  top: 70%;
  line-height: 16px
}

@media screen and (min-width: 768px) {
  .game-bar .game-bar-wrap .game-bar-el a .game-title {
      display:block
  }
}

@media screen and (min-width: 768px) {
  .game-bar .game-bar-wrap .game-bar-el a .games-top span img {
      max-width:68px;
      width: auto
  }
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;

}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width:15%;
  border-radius: 15%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}